.container {
position: relative;
}
.slide__show {
width: 1050px;
overflow: hidden;
position: relative;
left: calc(50% - 525px);
}
.slide {
width: 3500px;
padding: 50px 0 0 0;
display: flex;
transition: all 0.4s ease;
grid-gap: 10px;
}

.left,
.right {
background-color: transparent;
border: none;
outline: none;
color: #393E46;
opacity: 0.6;
font-size: 44px;
transition: all 0.4s;
}

.left:hover,
.right:hover {
cursor: pointer;
transform: scale(1.1);
}

.left {
position: absolute;
top: calc(50% - 22px);
left: 5rem;
}

.right {
position: absolute;
top: calc(50% - 22px);
right: 5rem;
}